%div(style='margin: auto; width: 600px; border: 1px solid grey; border-radius: 5px; padding: 20px; text-align: center')

  %div(style='display: block; margin-left: auto; margin-right: auto')
    = image_tag 'prodobro1.png', style: 'width: 100px'

  %div(style='background-color: #335b66; padding: 20px')
    %img(src='https://cdn3.iconfinder.com/data/icons/social-productivity-line-art-5/128/history-edit-512.png' style='width: 50px; display: block; margin-left: auto; margin-right: auto')
    %h2(style='color: white')= t('.title')

  %p(style='font-weight: bold; margin-top: 40px')= t('.greeting', recipient: @resource.email)

  %p= t('.instruction')

  %button(style='background-color: #9edce5; padding: 15px; border: none; border-radius: 5px; margin: 15px')
    = link_to t('.action'), edit_password_url(@resource, reset_password_token: @token), style: 'color: black; text-decoration: none'

  %p= t('.instruction_2')
  %p= t('.instruction_3')
